body {
    margin: 0;
}


.first-block {
display: inline-block;
border: chocolate 5px solid;
width: 50%;
height: 150px;
/*padding: 10px;*/
/*box-sizing: border-box;
margin: 10px;*/
box-sizing: border-box;
}

.second-block {
    border: chocolate 5px solid;
width: 50%;
height: 50%;
/*padding: 10px;*/
box-sizing: border-box;
/*margin: 10px;*/
}

.center{
    border: 2px solid blue;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background: chartreuse;
    box-sizing: border-box;
}